<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="main.css">
	<title>Gabble</title>
</head>

<body>
	<nav class="nav_container">
		<ul class="nav-row">
			<li class="nav-item_home">
				<a href="index">Gabble</a>
			</li>
			<li class="nav-item_create">
				<a href="createnewgab">Create a new Gab</a>
			</li>
			<li class="nav-item_login">
				<a href="/">Logged in as</a>
			</li>
			<li class="nav-item_signup">
				<a href="">Log out</a>
			</li>
		</ul>
	</nav>

	<h1>This is the home page</h1>
	<h2>Create an Account</h2>
</body>

</html>
