<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="main.css">
	<title>Gabble</title>
</head>

<body>
	<nav class="nav_container">
		<ul class="nav-row">
			<li class="nav-item_home">
				<a href="index.mustache">Gabble</a>
			</li>
			<li class="nav-item_create">
				<a href="createnewgab.mustache">Create a new Gab</a>
			</li>
			<li class="nav-item_login">
				<a href="login.mustache">Logged in as</a>
			</li>
			<li class="nav-item_signup">
				<a href="signup.mustache">Sign Up</a>
			</li>
		</ul>
	</nav>

	<h1>Display 'like' list</h1>
</body>

</html>
